<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emmanuel Dufitumukiza</title>
    <script src="https://kit.fontawesome.com/a05ef9628f.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
  />
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/skills.css">
</head>
<body>
    <div class="navbar">
        <div class="links-cont">
            <a href="" class="active-link">Home</a>
            <a href="#aboutme">About me</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#skills">Skills</a>
            <a href="#contactme">Contact me</a>
            <a href="#blogs">Blogs</a>
            <div class="moon">
                <button><i class="fa-moon uil uil-moon change-theme"></i></button>
            </div>
           <div>
            <button class="btn"> <i class="fa fa-sign-in"></i> Login/Signup</button>
           </div>
        </div>
    </div>

  
    <div class="left-side-bar">

        <div class="logo-cont">
            
        </div>

        <div class="contact-social">
            <div><button><i class="fa-brands fa-linkedin-in"></i></button></div>
            <div><button><i class="fa-brands fa-twitter"></i></button></div>
            <div><button><i class="fa-brands fa-github"></i></button></div>
            <div><button><i class="fa-brands fa-instagram"></i></button></div>
        </div>

        <div class="bottom-line">
        </div>

    </div>

    <div class="right-cont">
      <div class="cont1">
        <div class="left-text-cont">
            <h4 class="welcome">Welcome to my site</h4>
            <h1 class="myname">Hi! I’m Emmanuel</h1>
            <h1 class="myname bttt">Full Stack Developer</h1>
    
            <p class="mytext">
                Iam Software Engineer With High Level Of
    Experience In Web And  Mobile Development.
    I Have Knowledges And Skills For Producing
    High Quality Work.
            </p>
            
                      <button class="btn btn2 hire">Hire me</button>&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;
                      <button class="btn btn2 btn3 myp">My Projects</button>
          </div>

          <div class="right-pic-cont">
            <div class="profile">
                <img src="../images/me2.png" alt="">
            </div>
        </div>

      </div>

      <div class="cont2" id="aboutme">
          <h2 class="title-page">About Me</h2>
        <p class="sm-title">My Introduction</p> 
        
         <div style="display: flex;">
            <div class="left-one">
                <div class="profile2">
                    <img src="../images/me2.png" alt="">
                </div>
            </div>

            <div class="right-one">
                <p>I'm a software engineer, mainly focused in web, desktop and mobile
                    applications. I worked on different projects and I have 2 years of
                    experience in software engineering.. My goal is to inspire the world
                    as a  self-taught developer.</p>

                    <div class="cards-cont">
                        <div class="cards">
                            <h4>02 <i class="fa fa-plus"></i></h4>
                            <p>Years</p>
                            <p>Experience</p>
                        </div>

                        <div class="cards">
                            <h4>10 <i class="fa fa-plus"></i></h4>
                            <p>Completed</p>
                            <p>Projects</p>
                        </div>

                        <div class="cards">
                            <h4>02 <i class="fa fa-plus"></i></h4>
                            <p>Companies</p>
                            <p>Worked</p>
                        </div>
                    </div>

                    <button class="download-btn btn">Download CV &nbsp;<i class="fa fa-download"></i> </button>

            </div>

         </div>

      </div>

      <div class="cont2" id="portfolio">
        <h2 class="title-page">Portfolio</h2>
        <p class="sm-title">Most recent projects</p> 
      
        <div class="short-nav">
            <a href="" class="active-port">All</a> &nbsp; &nbsp;
            <a href="">Web Applicattion</a> &nbsp; &nbsp;
            <a href="">Mobile App</a> &nbsp; &nbsp;
            <a href="">Desktop App</a> &nbsp; &nbsp;
            <a href="">UI Design</a>
        </div>


        <div class="slide-show-cont">

            <div class="img-cont">
                <button class="left-slide"><i class="fa-solid fa-chevron-left"></i></button>
             <div class="first-img">
                 <button class=" demo-btn">Demo&nbsp; <i class=" fa fa-arrow-right"></i></button>
             </div>
             <button class="right-slide"><i class="fa-solid fa-chevron-right"></i></button>
            </div>

            <div class="dots-cont">
                <div class="active-dot dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>

        </div>

    </div>

    <div class="cont2" id="skills">
        <h2 class="title-page">Skills</h2>
      <p class="sm-title">My Technical Level</p> 
      
       <div style="display: flex;position: relative;padding-left: 130px;">
          <div class="left-one left-skills">

              <div class="front-end">
                  <div  class="d-flex top-nav">

                    <div class="chev">
                        <button class="curl">{}</button>&nbsp;
                    </div>

                    <div class="sub-text">
                    <h4>Frontend developer</h4>
                    <span>More then 2 years</span>
                    </div>

                    <div class="chev">
                        <button class="chevron"><i class="fa-solid fa-angle-up"></i></button>
                    </div>
                  </div>

                  <div class="skill-bars">
                    <div class="bar">
                      <div class="info">
                        <span>HTML</span>
                      </div>
                      <div class="progress-line html">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>CSS</span>
                      </div>
                      <div class="progress-line css">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>JavaScript</span>
                      </div>
                      <div class="progress-line jquery">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>Java</span>
                      </div>
                      <div class="progress-line python">
                        <span></span>
                      </div>
                    </div>
                    <div class="bar">
                      <div class="info">
                        <span>React</span>
                      </div>
                      <div class="progress-line mysql">
                        <span></span>
                      </div>
                    </div>

                    <div class="bar">
                        <div class="info">
                          <span>Angular</span>
                        </div>
                        <div class="progress-line mysql">
                          <span></span>
                        </div>
                      </div>

                      <div class="bar">
                        <div class="info">
                          <span>Svelte</span>
                        </div>
                        <div class="progress-line mysql">
                          <span></span>
                        </div>
                      </div>

                  </div>

              </div>

          </div>

          <div class="right-one right-skills">

            <div class="front-end">
                <div  class="d-flex top-nav2">

                  <div class="chev backend">
                      <button class="curl"><i class="fa-solid fa-terminal"></i></button>&nbsp;&nbsp;
                  </div>

                  <div class="sub-text">
                  <h4>Backend developer</h4>
                  <span>More then 1 year</span>
                  </div>

                  <div class="chev">
                      <button class="chevron"><i class="fa-solid fa-angle-up"></i></button>
                  </div>
                </div>

                <div class="skill-bars">
                  <div class="bar">
                    <div class="info">
                      <span>Nodejs</span>
                    </div>
                    <div class="progress-line html">
                      <span></span>
                    </div>
                  </div>
                  <div class="bar">
                    <div class="info">
                      <span>PHP</span>
                    </div>
                    <div class="progress-line css">
                      <span></span>
                    </div>
                  </div>
                  <div class="bar">
                    <div class="info">
                      <span>Laravel</span>
                    </div>
                    <div class="progress-line jquery">
                      <span></span>
                    </div>
                  </div>
                  <div class="bar">
                    <div class="info">
                      <span>CodeIgniter</span>
                    </div>
                    <div class="progress-line python">
                      <span></span>
                    </div>
                  </div>
                  <div class="bar">
                    <div class="info">
                      <span>MySQL</span>
                    </div>
                    <div class="progress-line mysql">
                      <span></span>
                    </div>
                  </div>

                  <div class="bar">
                    <div class="info">
                      <span>Mongodb</span>
                    </div>
                    <div class="progress-line mysql">
                      <span></span>
                    </div>
                  </div>
                </div>

            </div>

          </div>

       </div>

    </div>

      <div class="cont2 contactmepage" id="contactme">
        <h2 class="title-page">Contact Me</h2>
        <p class="sm-title">Get in touch</p> 
      
       <div style="display: flex;" class="contact-cont">
          <div class="left-one l-one">
              <div class="first-c d-flex">
                  <div class="mt-3"><i class="fa fa-phone text-primary"></i></div>
                  <div><h4>Call Me</h4>
                    <span class="b-tex">0786019992</span></div>
              </div>

              <div class="first-c d-flex">
                <div class="mt-3"><i class="fa fa-envelope text-primary icc"></i></div>
                <div><h4>Email</h4>
                  <span class="b-tex">dufitumukizaemmanuel0@gmail.com</span></div>
            </div>

            <div class="first-c d-flex">
                <div class="mt-3"><i class="fa-solid fa-location-dot text-primary icc"></i></div>
                <div><h4>Location</h4>
                  <span class="b-tex">Kigali-Rwanda</span></div>
            </div>

          </div>

          <div class="right-one">
        
            <div class="form__div">
                <input type="text" class="form__input" placeholder=" ">
                <label for="" class="form__label">Your Name*</label>
            </div>

            <div class="form__div">
                <input type="text" class="form__input" placeholder=" ">
                <label for="" class="form__label">Your Email*</label>
            </div>

            <div class="form__div textarea-cont">
                <textarea  class="form__input" placeholder=" "></textarea>
                <label for="" class="form__label">Message*</label>
            </div>

            <button class="download-btn btn sendbtn">Send Message &nbsp;<i class="uil uil-message button__icon"></i> </button>
          
          </div>

       </div>
       <i class="fa-solid fa-paper-plane-top"></i>
    </div>
    </div>

</body>
</html>