<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <script src="https://kit.fontawesome.com/a05ef9628f.js" crossorigin="anonymous"></script> 
    <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
  />
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/skills.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/blogs.css">
</head>
<body>
    <div class="navbar">
        <div class="links-cont">
            <a href="./index.html">Home</a>
            <a href="./index.html#aboutme">About me</a>
            <a href="./index.html#portfolio">Portfolio</a>
            <a href="./index.html#skills">Skills</a>
            <a href="./index.html#contactme">Contact me</a>
            <a href="./blogs.html">Blogs</a>
            <div class="moon">
                <button><i class="fa-moon uil uil-moon change-theme"></i></button>
            </div>
           <div>
            <a id="logSign" style="text-decoration: none;" href="./login.html"><button class="btn"><i class="fa fa-sign-in"></i> Login/Signup</button></a>
            <div id="profileauth" class="loggedUser">
              <div class="dropdown  ">
              <div style="display: flex;">
                <div class="imggg">
                  <img src="../images/me.png" alt="">
                </div>
                &nbsp;<p style="font-weight: bold;font-style: italic;" id="username-display"></p>
              </div>
                
                <div class="dropdown-content">
                  <a href="#">Your Profile</a>
                  <a href="#">Settings</a>
                <a href="#" onclick="logout()">Logout</a>
                </div>
              </div>
            </div>
           </div>
        </div>
    </div>

  
    <div class="left-side-bar">

        <div class="logo-cont">
            
        </div>

        <div class="contact-social">
            <div><button><i class="fa-brands fa-linkedin-in"></i></button></div>
            <div><button><i class="fa-brands fa-twitter"></i></button></div>
            <div><button><i class="fa-brands fa-github"></i></button></div>
            <div><button><i class="fa-brands fa-instagram"></i></button></div>
        </div>

        <div class="bottom-line">
        </div>

    </div>

    <div class="right-cont form-conts">

        <div class="l-form">
            <form onsubmit="login(event)" class="form">
                <h1 class="form__title">Login</h1>

                <div class="form__div">
                  <input onkeyup="validateEmail()" onblur="validateEmail()" id="useremail" type="text" class="form__input" placeholder=" ">
                  <label for="" id="emaillabel" class="form__label">Your Email*</label>
              </div>
              <span id="emailError"></span>

                <div class="form__div">
                    <input onblur="validatePassword()" onkeyup="validatePassword()" id="password" type="password" class="form__input" placeholder=" ">
                    <label for="" id="passwordLabel" class="form__label">Password</label>
                </div>
              <span id="passwordError"></span>

              <div id="loginError">
                <br> <span>*Incorrect email or password*</span><br> <br>
                 </div>

                <input onclick="login(event)" type="submit" class="form__button" value="Sign In">

                <p class="dont">Don't have an account yet? <a href="./signup.html">Signup</a></p>
            </form>
        </div>

    </div>

    <div class="navbars-cont" id="menuBottom">

        <div class="top-one-social">
             <a href="./index.html#" onclick="hideMenu()">
              <div>
                <i class="fa fa-home change-theme"></i>
                <p>Home</p>
               </div>
             </a>
           <a href="./index.html#aboutme" onclick="hideMenu()">
            <div>
              <i class="fa fa-user change-theme"></i>
              <p>About me</p>
             </div>
           </a>
           <a href="./index.html#portfolio" onclick="hideMenu()">
            <div>
              <i class="change-theme fa-solid fa-diagram-project"></i>
              <p>Portfolio</p>
             </div>
           </a>
        </div>
  
        <div class="top-one-social">
          <a href="./blogs.html">
            <div>
              <i class="change-theme fa-solid fa-blog"></i>
              <p>Blogs</p>
             </div>
          </a>
        <a href="./index.html#skills" onclick="hideMenu()">
          <div>
            <i class="change-theme fa-solid fa-graduation-cap"></i>
            <p>Skills</p>
           </div>
        </a>
         <a href="./index.html#contactme" onclick="hideMenu()">
          <div>
            <i class="uil uil-message change-theme"></i>
            <p>Contact me</p>
           </div>
         </a>
     </div>
  
     <a href="./login.html" class="closeBtn" style="float: left;margin-left: 37px;margin-top: 3px;">
     <i class="fa fa-sign-in"></i> Login
     </a>
  
      <div class="closeBtn">
        <!-- <a href="#news"><i class="fa-moon uil uil-moon change-theme"></i></a> -->
        <a onclick="hideMenu()"><i class="fa fa-close change-theme"></i></a>
      </div>
      </div>
      <div class="navbars">
        <a href="#home">
          <div class="logo-cont2">
              
          </div>
        </a>
      <div>
        <form action="">
          <a href="#news"><i class="fa-moon uil uil-moon change-theme"></i></a>
          <!-- <input type="checkbox" id="menus">
        <label for="menus">toggle</label> -->
        <a onclick="menuBottom()"><i class="fa fa-bars change-theme"></i></a>
        </form>
      </div>
      </div>

    </div>

    <script>
          function menuBottom(){
    document.getElementById("menuBottom").style.display = "block"
  }

  
  function hideMenu(){
    document.getElementById("menuBottom").style.display = "none"
  }

  
  function validateEmail(){
    let email = document.getElementById("useremail").value.trim();

    if(email.length == 0){
      document.getElementById("emailError").style.display = "block"
      document.getElementById("useremail").style.borderColor="orangered"
      document.getElementById("emaillabel").style.color="orangered"
      document.getElementById("emailError").innerHTML = "Email is required*"
      return false;
    }

    if(email.length>0){


if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
{
      document.getElementById("emailError").style.display = "none"
      document.getElementById("useremail").style.borderColor="forestgreen"
      document.getElementById("emaillabel").style.color="forestgreen"
      document.getElementById("emailError").innerHTML = ""
      return true;
}
document.getElementById("emailError").style.display = "block"
      document.getElementById("useremail").style.borderColor="orangered"
      document.getElementById("emaillabel").style.color="orangered"
      document.getElementById("emailError").innerHTML = "Invalid Email address format"
      return false;
    }
  }

  function validatePassword(){
  let password = document.getElementById("password").value;

        if(password.length == 0){
          document.getElementById("passwordError").style.display = "block"
          document.getElementById("password").style.borderColor="orangered"
          document.getElementById("passwordLabel").style.color="orangered"
          document.getElementById("passwordError").innerHTML = "Password is required*"
      return false;
        }
        if(password.length>0){
          document.getElementById("passwordError").style.display = "none"
          document.getElementById("password").style.borderColor="forestgreen"
          document.getElementById("passwordLabel").style.color="forestgreen"
          document.getElementById("passwordError").innerHTML = ""
      return true;
        }
 }

 function login(e){
     e.preventDefault();

     let isValidEmail = validateEmail();
     let isValidPassword = validatePassword();
     
     if(isValidEmail == true && isValidPassword == true){
    document.getElementById("loginError").style.display = "none";
    let email = document.getElementById("useremail").value.trim();
    let password = document.getElementById("password").value;

      //  if(email == "emmanuel@gmail.com" && password=="rca.ac.rw"){
        //  return window.location = "./admin.blogs.html";
      //  }
       loginUser();
     }
 }

 function loginUser(){
  document.getElementById("loginError").style.display = "none";

let isValidEmail = validateEmail();
let isValidPassword = validatePassword();

if(isValidEmail == true && isValidPassword == true){

  let emails = document.getElementById("useremail").value.trim();
  let pass = document.getElementById("password").value;

  fetch("https://emmanueldufitumukiza.herokuapp.com/api/login", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: emails,
                    password: pass
                })
            }).then((res) => res.json())
            .then((data) =>{
            if(data.error){
             return document.getElementById("loginError").style.display = "flex";
            }else{
              document.getElementById("loginError").style.display = "none";
              localStorage.setItem("token", data.token);
              if(data.user.role == "padmin"){
                return window.location = "./admin.blogs.html";
              }

            return isLogged(data.user.username);
            }
            })
            .catch((error)=>{
              console.log(error)
            })
}
}

function logout(){
  localStorage.removeItem("token");
 return isLogged();
}

function isLogged(username){

 let token = localStorage.getItem("token")

 if(token){

  fetch("https://emmanueldufitumukiza.herokuapp.com/api/getLoggedUser", {
    method: 'GET',
    headers: {
        'Authorization': token
    }
  })
  .then((res) => res.json())
    .then((res) =>{
      if(res.username){
        document.getElementById("logSign").style.display = "none"
   document.getElementById("profileauth").style.display = "flex"
   document.getElementById("username-display").innerHTML  = res.username;
   window.location = "./blogs.html"
   return ;
      }else{
        document.getElementById("logSign").style.display = "block"
   document.getElementById("profileauth").style.display = "none"
      }
    });
 }if(!token){
  document.getElementById("logSign").style.display = "block"
   document.getElementById("profileauth").style.display = "none"
 }
}

window.onload = function(){
  isLogged('')
}
    </script>
</body>
</html>