<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <script src="https://kit.fontawesome.com/a05ef9628f.js" crossorigin="anonymous"></script> 
    <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
  />
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/skills.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="navbar">
        <div class="links-cont">
            <a href="./index.html">Home</a>
            <a href="./index.html#aboutme">About me</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#skills">Skills</a>
            <a href="#contactme">Contact me</a>
            <a href="./blogs.html">Blogs</a>
            <div class="moon">
                <button><i class="fa-moon uil uil-moon change-theme"></i></button>
            </div>
           <div>
            <a style="text-decoration: none;" href="./admin.blogs.html"><button class="btn"><i class="fa fa-sign-in"></i> Login/Signup</button></a>
           </div>
        </div>
    </div>

  
    <div class="left-side-bar">

        <div class="logo-cont">
            
        </div>

        <div class="contact-social">
            <div><button><i class="fa-brands fa-linkedin-in"></i></button></div>
            <div><button><i class="fa-brands fa-twitter"></i></button></div>
            <div><button><i class="fa-brands fa-github"></i></button></div>
            <div><button><i class="fa-brands fa-instagram"></i></button></div>
        </div>

        <div class="bottom-line">
        </div>

    </div>

    <div class="right-cont">

        <div class="l-form">
            <form action="./admin.blogs.html" class="form">
                <h1 class="form__title">Admin Login</h1>

                <div class="form__div">
                    <input type="text" class="form__input" placeholder=" ">
                    <label for="" class="form__label">Email</label>
                </div>

                <div class="form__div">
                    <input type="password" class="form__input" placeholder=" ">
                    <label for="" class="form__label">Password</label>
                </div>

                <input type="submit" class="form__button" value="Sign In">
            </form>
        </div>

    </div>
    <div class="navbars-cont">

      <div class="top-one-social">
           <div>
            <i class="fa fa-home change-theme"></i>
            <p>Home</p>
           </div>
           <div>
            <i class="fa fa-user change-theme"></i>
            <p>About me</p>
           </div>
           <div>
            <i class="change-theme fa-solid fa-diagram-project"></i>
            <p>Portfolio</p>
           </div>
      </div>

      <div class="top-one-social">
        <div>
         <i class="change-theme fa-solid fa-blog"></i>
         <p>Blogs</p>
        </div>
        <div>
         <i class="change-theme fa-solid fa-graduation-cap"></i>
         <p>Skills</p>
        </div>
        <div>
         <i class="uil uil-message change-theme"></i>
         <p>Contact me</p>
        </div>
   </div>
    <div class="closeBtn">
      <!-- <a href="#news"><i class="fa-moon uil uil-moon change-theme"></i></a> -->
      <a href="#contact"><i class="fa fa-close change-theme"></i></a>
    </div>
    </div>
    <div class="navbars">
      <a href="#home" class="active">
        <div class="logo-cont2">
            
        </div>
      </a>
    <div>
    </div>
</body>
</html>