<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/a05ef9628f.js" crossorigin="anonymous"></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../css/admin.css">
        <link rel="stylesheet" href="../css/users.css">

        <title>Admin Dashboard</title>
    </head>
    <body class="body-pd" id="body-pd">
        <header class="header body-pd" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <h3 class="page-title">Contact Messages</h3>

            <div class="header__img">
                <img src="../images/me.png" alt="">
            </div>
        </header>

        <div class="l-navbar show" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Emmanuel</span>
                    </a>

                    <div class="nav__list">
                        <!-- <a href="#" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a> -->

                    <br><br>

                        <a href="#" class="nav__link">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Users</span>
                        </a>
                        
                        <!-- <a href="#" class="nav__link">
                            <i class='bx bx-message-square-detail nav__icon' ></i>
                            <span class="nav__name">Messages</span>
                        </a> -->

                        <a href="./admin.blogs.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">Blogs</span>
                        </a>

                        <a href="./addBlog.html" class="nav__link">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">Add Blog</span>
                        </a>

                        <a href="./profile.html" class="nav__link">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Profile</span>
                        </a>

                        <a href="./Messages.html" class="nav__link active">
                            <i class='bx bx-chat nav__icon' ></i>
                            <span class="nav__name">Messages</span>
                        </a>
                    </div>
                </div>

                <a href="./index.html" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

       
        <br><br>

        <div id="messages-cont" class="messages-cont">
           
        </div>

        <script>
         window.onload = ()=>{
             getMessages();
             if(!localStorage.getItem("token")){
                 window.location = "./login.html";
             }
         }

         const getTime = (sale)=>{
        let hour = new Date(sale?.createdAt).getHours();
        let minutes = new Date(sale?.createdAt).getMinutes();
 
        let time_index = new Date().toLocaleTimeString().lastIndexOf(":");
        let last_t = new Date(sale?.createdAt)
          .toLocaleTimeString()
          .slice(time_index + 3, new Date().toLocaleTimeString().length);
        let months = new Date(sale?.createdAt).getMonth();
        let date = new Date(sale?.createdAt).getDate();
        let year = new Date(sale?.createdAt).getFullYear();
      
        let todayDate = new Date().getDate();
        let todayMonth = new Date().getMonth();
        let todayYear = new Date().getFullYear();
      
        const month = new Array();
        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Mar";
        month[3] = "Apr";
        month[4] = "May";
        month[5] = "Jun";
        month[6] = "Jul";
        month[7] = "Aug";
        month[8] = "Sep";
        month[9] = "Oct";
        month[10] = "Nov";
        month[11] = "Dec";
      
        let name = month[months];
        let fullDate = date + " " + name + " " + year;
      
        let fullTime = hour + ":" + minutes + "" + last_t;
        let sendTime;
      
        if (todayYear == year && todayMonth == months && todayDate == date) {
          sendTime = "Today " + fullTime;
        } else {
          sendTime = fullDate + " , " + fullTime;
        }

        return sendTime;
    }

         function getMessages(){
            fetch("https://emmanueldufitumukiza.herokuapp.com/api/messages", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': localStorage.getItem("token")
                }
            }).then((res) => res.json())
            .then((data) =>{
                data = data.msg;
               for(let i=data.length-1; i>=0; i--){
                   document.getElementById("messages-cont").innerHTML+= 
                   `
                   <div class="card-msg-cont">
              <p><b>Names:</b> ${data[i]?.names}</p>
              <p><b>Email</b>: ${data[i]?.email}</p>
              <p><b>Date</b>: ${getTime(data[i])}</p>
             
              <p style="position: relative;top: 15px;"><b>Message</b></p>
              <p style="position: relative;top: 15px;">
                  ${data[i]?.message}
              </p>

              <button class="replyBtn">Reply</button>

            </div>
                   `
               }
            });
         }
        </script>

    </body>
</html>