<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/a05ef9628f.js" crossorigin="anonymous"></script>
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../css/admin.css">
        <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

        <title>Add Blog</title>
    </head>
    <body class="body-pd" id="body-pd">
        <header class="header body-pd" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <h3 class="page-title">Your Profile</h3>

            <div class="header__img">
                <img src="../images/me.png" alt="">
            </div>
        </header>

        <div class="l-navbar show" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Emmanuel</span>
                    </a>
<br><br>
                    <div class="nav__list">
                        <!-- <a href="#" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a> -->

                        <a href="./users.html" class="nav__link">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Users</span>
                        </a>
                        
                        <!-- <a href="#" class="nav__link">
                            <i class='bx bx-message-square-detail nav__icon' ></i>
                            <span class="nav__name">Messages</span>
                        </a> -->

                        <a href="./admin.blogs.html" class="nav__link">
                            <i class='bx bx-bookmark nav__icon' ></i>
                            <span class="nav__name">Blogs</span>
                        </a>

                        <a href="./addBlog.html" class="nav__link">
                            <i class='bx bx-folder nav__icon' ></i>
                            <span class="nav__name">Add Blog</span>
                        </a>

                        <a href="./profile.html" class="nav__link active">
                            <i class='fa fa-user nav__icon' ></i>
                            <span class="nav__name">Profile</span>
                        </a>
                    </div>
                </div>

                <a href="./index.html" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

      <div class="blogs">
          <br><h4 id="myInfo" class="user-name">Emmanuel Dufitumukiza &nbsp; &nbsp; <button onclick="edit()"><i class="fa fa-edit"></i></button></h4>
       <div id="edit-inp" class="edit-inp">
           <label for="">Enter a new username</label>
        <input type="text" name="" id="" value="Emmanuel-Dufitumukiza">
        <button class="editBtn">Save</button>
        <button class="moreBtn" onclick="cancel()">Cancel</button>
       </div>
          <div class="profile-page">
            <img id="preview" src="../images/pic.jpg" alt="">
        </div>

        <br><br><div class="btns-act-cont">
            <input style="display: none;" id="up" type="file" accept="image/*" onchange="previewImage(event)">
            <button class="editBtn" onclick="upload()">Edit Profile</button> &nbsp;
        <button class="moreBtn" style="background-color: crimson;color: white;">Remove Profile</button>
        </div>
        </div>

      </div>

      <script>

function upload(){
    document.getElementById("up").click()
}

        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );

            const previewImage = e => {
      const reader = new FileReader();
      reader.readAsDataURL(e.target.files[0]);
      reader.onload = () => {
         const preview = document.getElementById('preview');
         preview.src = reader.result;
      };
   };

   function edit(){
       document.getElementById("myInfo").style.display="none"
       document.getElementById("edit-inp").style.display = "block"
   }

   function cancel(){
       document.getElementById("edit-inp").style.display = "none"
       document.getElementById("myInfo").style.display="block"
   }
    </script>
    </body>
</html>