<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <script src="https://kit.fontawesome.com/a05ef9628f.js" crossorigin="anonymous"></script> 
    <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
  />
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/skills.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="navbar">
        <div class="links-cont">
            <a href="./index.html">Home</a>
            <a href="./index.html#aboutme">About me</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#skills">Skills</a>
            <a href="#contactme">Contact me</a>
            <a href="./blogs.html">Blogs</a>
            <div class="moon">
                <button><i class="fa-moon uil uil-moon change-theme"></i></button>
            </div>
           <div>
            <a style="text-decoration: none;" href="./admin.blogs.html"><button class="btn"><i class="fa fa-sign-in"></i> Login/Signup</button></a>
           </div>
        </div>
    </div>

  
    <div class="left-side-bar">

        <div class="logo-cont">
            
        </div>

        <div class="contact-social">
            <div><button><i class="fa-brands fa-linkedin-in"></i></button></div>
            <div><button><i class="fa-brands fa-twitter"></i></button></div>
            <div><button><i class="fa-brands fa-github"></i></button></div>
            <div><button><i class="fa-brands fa-instagram"></i></button></div>
        </div>

        <div class="bottom-line">
        </div>

    </div>

    <div class="right-cont form-conts">

        <br><div class="l-form">
            <form onsubmit="signup(event)" class="form">
                <h1 class="form__title">Sign Up</h1>


                <div class="form__div">
                    <input onkeyup="validateName()" onblur="validateName()" id="username" type="text" class="form__input" placeholder=" ">
                    <label for="" id="usernamelabel" class="form__label">Username*</label>
                </div>
                <span id="usernameError"></span>

                <div class="form__div">
                  <input onkeyup="validateEmail()" onblur="validateEmail()" id="useremail" type="text" class="form__input" placeholder=" ">
                  <label for="" id="emaillabel" class="form__label">Your Email*</label>
              </div>
              <span id="emailError"></span>
              <span id="accError"></span>

                <div class="form__div">
                    <input onblur="validatePassword()" onkeyup="validatePassword()" id="password" type="password" class="form__input" placeholder=" ">
                    <label for="" id="passwordLabel" class="form__label">Password</label>
                </div>
              <span id="passwordError"></span>

                <input onclick="signup(event)" type="submit" class="form__button" value="Sign In">

                <p class="dont">Already have an account? <a href="./login.html">Login</a></p>

            </form>
        </div>

    </div>

    <div class="navbars-cont" id="menuBottom">

        <div class="top-one-social">
             <a href="./index.html#" onclick="hideMenu()">
              <div>
                <i class="fa fa-home change-theme"></i>
                <p>Home</p>
               </div>
             </a>
           <a href="./index.html#aboutme" onclick="hideMenu()">
            <div>
              <i class="fa fa-user change-theme"></i>
              <p>About me</p>
             </div>
           </a>
           <a href="./index.html#portfolio" onclick="hideMenu()">
            <div>
              <i class="change-theme fa-solid fa-diagram-project"></i>
              <p>Portfolio</p>
             </div>
           </a>
        </div>
  
        <div class="top-one-social">
          <a href="./blogs.html">
            <div>
              <i class="change-theme fa-solid fa-blog"></i>
              <p>Blogs</p>
             </div>
          </a>
        <a href="./index.html#skills" onclick="hideMenu()">
          <div>
            <i class="change-theme fa-solid fa-graduation-cap"></i>
            <p>Skills</p>
           </div>
        </a>
         <a href="./index.html#contactme" onclick="hideMenu()">
          <div>
            <i class="uil uil-message change-theme"></i>
            <p>Contact me</p>
           </div>
         </a>
     </div>
  
     <a href="./login.html" class="closeBtn" style="float: left;margin-left: 37px;margin-top: 3px;">
     <i class="fa fa-sign-in"></i> Login
     </a>
  
      <div class="closeBtn">
        <!-- <a href="#news"><i class="fa-moon uil uil-moon change-theme"></i></a> -->
        <a onclick="hideMenu()"><i class="fa fa-close change-theme"></i></a>
      </div>
      </div>
      <div class="navbars">
        <a href="#home" class="active">
          <div class="logo-cont2">
              
          </div>
        </a>
      <div>
        <form action="">
          <a href="#news"><i class="fa-moon uil uil-moon change-theme"></i></a>
          <!-- <input type="checkbox" id="menus">
        <label for="menus">toggle</label> -->
        <a onclick="menuBottom()"><i class="fa fa-bars change-theme"></i></a>
        </form>
      </div>
      </div>

    </div>

    <div id="alert" class="alert"><p>Account Created Successfully!</p></div>

    <script>
          function menuBottom(){
    document.getElementById("menuBottom").style.display = "block"
  }

  
  function hideMenu(){
    document.getElementById("menuBottom").style.display = "none"
  }

  
  function validateEmail(){
    let email = document.getElementById("useremail").value.trim();

    if(email.length == 0){
      document.getElementById("emailError").style.display = "block"
      document.getElementById("useremail").style.borderColor="orangered"
      document.getElementById("emaillabel").style.color="orangered"
      document.getElementById("emailError").innerHTML = "Email is required*"
      return false;
    }

    if(email.length>0){


if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
{
      document.getElementById("emailError").style.display = "none"
      document.getElementById("useremail").style.borderColor="forestgreen"
      document.getElementById("emaillabel").style.color="forestgreen"
      document.getElementById("emailError").innerHTML = ""
      return true;
}
document.getElementById("emailError").style.display = "block"
      document.getElementById("useremail").style.borderColor="orangered"
      document.getElementById("emaillabel").style.color="orangered"
      document.getElementById("emailError").innerHTML = "Invalid Email address format"

      return false;
    }
  }

  function validatePassword(){
  let password = document.getElementById("password").value;

        if(password.length == 0){
          document.getElementById("passwordError").style.display = "block"
          document.getElementById("password").style.borderColor="orangered"
          document.getElementById("passwordLabel").style.color="orangered"
          document.getElementById("passwordError").innerHTML = "Password is required*"
      return false;
        }
        if(password.length>0){
          document.getElementById("passwordError").style.display = "none"
          document.getElementById("password").style.borderColor="forestgreen"
          document.getElementById("passwordLabel").style.color="forestgreen"
          document.getElementById("passwordError").innerHTML = ""
      return true;
        }
 }

 function validateName(){
        let username = document.getElementById("username").value.trim();
        if(username.length == 0){
          document.getElementById("usernameError").style.display = "block"
          document.getElementById("username").style.borderColor="orangered"
          document.getElementById("usernamelabel").style.color="orangered"
          document.getElementById("usernameError").innerHTML = "Your name is required*"
          return false;
        }
        if(username.length>0 && username.length<4){
          document.getElementById("usernameError").style.display = "block"
          document.getElementById("username").style.borderColor="orangered"
          document.getElementById("usernamelabel").style.color="orangered"
          document.getElementById("usernameError").innerHTML = "Your name must be at least 4 characters*"
       return false;
        }
        if(username.length>3){
          document.getElementById("usernameError").style.display = "none"
          document.getElementById("username").style.borderColor="forestgreen"
          document.getElementById("usernamelabel").style.color="forestgreen"
          document.getElementById("usernameError").innerHTML = ""
          return true;
        }
      }

 function signup(e){
     e.preventDefault();

     let isValidEmail = validateEmail();
     let isValidPassword = validatePassword();
     let isValidName = validateName();

    let email = document.getElementById("useremail").value.trim();
    let username = document.getElementById("username").value.trim();
    let password = document.getElementById("password").value;
     
     if(isValidEmail == true && isValidPassword == true && isValidName == true){
     createAccount(username, email,password)
        // document.getElementById("alert").style.display="block"

        // setTimeout(()=>{
        //     window.location = "./blogs.html"
        // },1500)
     }
 }

 function createAccount(username, email,password){

  fetch("https://emmanueldufitumukiza.herokuapp.com/api/register", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  username: username,
                  email: email,
                  password: password
                })
            }).then((res) => res.json())
            .then((data) =>{
            if(data.message == "Email had already taken, please try different email address"){
              document.getElementById("emailError").style.display ="block"
           return document.getElementById("emailError").innerHTML = data.message
            }

            localStorage.setItem("token", data.token);

            window.location = "./blogs.html";
            
    });
 }

    </script>
</body>
</html>